* {
	-fx-medium-grey-color: #737373;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: -fx-medium-grey-color;
	-fx-border-radius: 0;
}
.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: -fx-medium-grey-color;
}

.tool-bar {
    -fx-background-color: #080723;
    -fx-text-alignment: center;

}

.button {
    -fx-font-size: 12;
    -fx-background-color: #7467D1;
        -fx-background-radius: 10;
        -fx-background-insets: 0;
        -fx-text-fill: white;
        -fx-padding: 9;
        -fx-margin: 5;
}
.button:hover {
    -fx-background-color:  #A49CE4;
}

.button Text {
    -fx-fill: white;
	-fx-background-color: -fx-medium-grey-color;
}

.error-label {
    -fx-text-fill: red;
}

.heading-label {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 25
}

.val-label {
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 15
}

.text-field:focused {
 -fx-border-color: #7267CB;
}
.button-transparent {
    -fx-background-color: none;
    -fx-padding: 3;
}

.button-transparent:hover {
    -fx-background-color: none;

}
