* {
	-fx-medium-grey-color: #737373;
}


.tool-bar {
    -fx-background-color: white;
    -fx-text-alignment: center;
    -fx-font-family: sans-serif;


}

.button {
    -fx-font-size: 12;
    -fx-background-color: #7267CB;
        -fx-background-radius: 10;
        -fx-background-insets: 0;
        -fx-text-fill: white;
        -fx-padding: 9;
        -fx-margin: 5;
}
.button:hover {
    -fx-background-color:  #A49CE4;
}

.button Text {
    -fx-fill: white;
	-fx-background-color: -fx-medium-grey-color;
}

.heading-label {
    -fx-font-size: 25
}

.text-field:focused {
 -fx-border-color: #7267CB;

 }


.button-transparent {
    -fx-background-color: none;
}